{
  "swagger": "2.0",
  "info": {
    "description": "This is the API definition for the Smart NFTs final proyect.",
    "version": "1.0.0",
    "title": "Smart NFTs API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "ghirsch@itba.edu.ar"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.smart-nfts.gonzalohirsch.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Contracts",
      "description": "/contracts endpoints"
    },
    {
      "name": "Misc",
      "description": "Other endpoints"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/contracts": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a new contract",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/definitions/ID"
                },
                "_id": {
                  "$ref": "#/definitions/_ID"
                },
                "abi": {
                  "$ref": "#/definitions/ABI"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Recover a contract by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/idParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/COMPLETE_CONTRACT"
            }
          },
          "404": {
            "$ref": "#/definitions/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Edit a contract",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/idParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/COMPLETE_CONTRACT"
            }
          },
          "404": {
            "$ref": "#/definitions/NotFound"
          }
        }
      }
    },
    "/contracts/{contractId}/deploy": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Deploy a contract to a testnet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/idParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/definitions/NotFound"
          }
        }
      }
    },
    "/contracts/{contractId}/verify": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Verify a contract in a testnet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/idParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "verificationId": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/definitions/NotFound"
          }
        }
      }
    },
    "/contracts/{contractId}/contents": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Download a contract file by ID",
        "produces": [
          "application/zip, application/octet-stream"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/idParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "headers": {
              "content-disposition": {
                "description": "attachment; filename=FILENAME.zip",
                "schema": {
                  "type": "string",
                  "format": "attachment; filename=FILENAME.zip"
                }
              }
            }
          },
          "204": {
            "description": "Contract exists, but it's not edited"
          },
          "404": {
            "$ref": "#/definitions/NotFound"
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Health check to determine if the API is working",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ABI": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "stateMutability": {
            "type": "string"
          },
          "anonymous": {
            "type": "boolean"
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "indexed": {
                  "type": "boolean"
                },
                "internalType": {
                  "type": "string"
                }
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "internalType": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "ID": {
      "type": "string"
    },
    "_ID": {
      "type": "string"
    },
    "CONTRACT": {
      "type": "string"
    },
    "NAME": {
      "type": "string"
    },
    "SYMBOL": {
      "type": "string"
    },
    "EXTENSIONS": {
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "Pausable",
          "Mintable",
          "AutoIncrementIds",
          "Burnable"
        ]
      }
    },
    "COMPLETE_CONTRACT": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/ID"
        },
        "_id": {
          "$ref": "#/definitions/_ID"
        },
        "abi": {
          "$ref": "#/definitions/ABI"
        },
        "contract": {
          "$ref": "#/definitions/CONTRACT"
        },
        "name": {
          "$ref": "#/definitions/NAME"
        },
        "symbol": {
          "$ref": "#/definitions/SYMBOL"
        },
        "extensions": {
          "$ref": "#/definitions/EXTENSIONS"
        }
      }
    },
    "NotFound": {
      "description": "Contract Not Found",
      "schema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "idParameter": {
      "in": "path",
      "name": "contractId",
      "type": "string",
      "required": true,
      "description": "ID of the contract"
    }
  }
}