@import url('./assets/styles/inter.css');
@import url('./assets/styles/open_sans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* INPUTS */
    .input--size-large input {
        @apply text-h5;
    }

    .input--size-medium input {
        @apply text-lg;
    }

    .input--size-small input {
        @apply text-sm;
    }

    .input--size-xsmall input {
        @apply text-xs;
    }
}

/* Smooth scrolling https://www.w3schools.com/howto/howto_css_smooth_scroll.asp */
html {
    scroll-behavior: smooth;
    padding: 0 !important;
}

h1 {
    @apply text-h2 font-highlight;
}
h2 {
    @apply text-h3 font-highlight;
}
h3 {
    @apply text-h4 font-highlight;
}
h4 {
    @apply text-h5 font-highlight;
}
h5 {
    @apply text-body_xl font-highlight;
}
p,
li {
    @apply text-body_md font-text;
}
a, span {
    font-size: inherit;
}

@screen md {
    h1 {
        @apply text-h1;
    }
    h2 {
        @apply text-h2;
    }
    h3 {
        @apply text-h3;
    }
    h4 {
        @apply text-h4;
    }
    h5 {
        @apply text-h5;
    }
}

/* Prism.js theme */
code.language-solidity,
pre.language-solidity {
    @apply font-mono text-base text-left;
    color: #f8f8f2;
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code.language-solidity .token {
    @apply font-mono text-base !important;
}
/* Comments mainly */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    @apply text-gray-400;
}
/* All {} , . ()*/
.token.punctuation {
    @apply text-white;
}
.token.namespace {
    @apply opacity-100;
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
    @apply text-pink-400;
}
/* Numbers and bools */
.token.boolean,
.token.number {
    @apply text-blue-400;
}
/* Imports, types, strings */
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    @apply text-green-400;
}
/* Variable declarations and some entities */
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
    @apply text-purple-400;
}
.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
    @apply text-blue-400;
}
/* Special keywords */
.token.keyword {
    @apply text-purple-400;
}
.token.important,
.token.regex {
    @apply text-orange-500;
}
.token.bold,
.token.important {
    @apply font-bold;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    @apply cursor-help;
}

/* TAB IMAGES */
.fc--image-wrapper svg:not(.fact-image--smaller) {
    @apply w-full;
    z-index: 1;
    max-width: 400px;
}

/* SMALLER IMAGES TO FIT BETTER */
.fc--image-wrapper svg.fact-image--smaller {
    @apply w-full;
    z-index: 1;
    max-width: 400px;
    padding: 30px;
}

/* CIRCLES BEHIND TAB IMAGES */
.fc--image-wrapper .image-background {
    @apply w-full;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
}

@screen md {
    .fc--image-wrapper .image-background {
        @apply w-full;
        max-width: 350px;
        max-height: 350px;
        min-width: 350px;
        min-height: 350px;
        border-radius: 50%;
    }
}

/* HERO DRAWING */
.hero-main-drawing svg,
svg.hero-main-drawing {
    @apply w-full mx-auto;
    z-index: 1;
    max-width: 250px;
}

@screen md {
    .hero-main-drawing svg,
    svg.hero-main-drawing {
        max-width: 550px;
    }
}

/* HERO BACKGROUND DRAWING */
.hero-background-drawing svg,
svg.hero-background-drawing {
    @apply w-full z-0 absolute top-0 left-0 bottom-0 right-0 overflow-visible shadow-xl text-brand_tertiary/50 shadow-brand_primary my-auto mx-auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

@screen sm {
    .hero-background-drawing svg,
    svg.hero-background-drawing {
        max-width: 250px;
        max-height: 250px;
    }
}

@screen md {
    .hero-background-drawing svg,
    svg.hero-background-drawing {
        max-width: 600px;
        max-height: 600px;
    }
    
}

/* HORIZONTAL FACT IMAGES */
svg.fact--image {
    max-width: 150px;
}

@screen md {
    svg.fact--image {
        max-width: 250px;
    }
}

/* VERTICAL FACT IMAGES */
svg.vertical-fact--image {
    max-width: 65px;
}

@screen md {
    svg.vertical-fact--image {
        max-width: 80px;
    }
}

/* CONTRACT IMAGE */
svg.contract-drawing {
    @apply w-full;
    max-width: 200px;
}

@screen md {
    svg.contract-drawing {
        max-width: 400px;
    }
}

/* MOBILE MENU OVERLAY */
.body-noscroll {
    @apply overflow-hidden;
}

/* CODE */

pre.code {
    @apply underline decoration-brand_secondary inline-block text-brand_secondary bg-brand_tertiary/20 italic;
}

/* RECAPTCHA HIDE BADGE */

.grecaptcha-badge {
    @apply invisible;
}

.section--full {
    height: 100vh;
}

/* SVG ANIMATIONS */

.diagram--infura-logo:hover {
    @apply fill-brand_tertiary animate-pulse !important;
}
.diagram--infura-logo {
    @apply duration-300 !important;
}

.diagram--ethereum-logo:hover > path:first-child {
    @apply fill-brand_tertiary animate-pulse !important;
}
.diagram--ethereum-logo > path:first-child {
    @apply duration-300 !important;
}

.diagram--pinata-logo:hover > path:not(.diagram--pinata-logo--eye) {
    @apply fill-brand_tertiary animate-pulse !important;
}
.diagram--pinata-logo > path:not(.diagram--pinata-logo--eye) {
    @apply duration-300 !important;
}